<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wangsz"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="20"
        android:targetSdkVersion="25" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tubiao"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.example.wangsz.ViewPagerWelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.wangsz.MainActivity" >
        </activity>
        <activity android:name="com.example.wangsz.AllPassView" >
        </activity>
        <activity android:name="com.example.wangsz.AboutAuthorView" >
        </activity>
        <activity android:name="com.example.wangsz.MyPicsView" >
        </activity>
        <activity android:name="com.example.wangsz.LoginActivity" >
        </activity>
        <activity android:name="com.example.wangsz.RegisterActivity" >
        </activity>
    </application>

    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>